*.dyn_hi
*.dyn_o
*.hi
*.o
*.refactored.*
.*.sw?
.DS_Store
.cabal-sandbox
.ghc.environment.*
.stack-work
cabal.config
cabal.project.freeze
cabal.sandbox.config
dist
dist-newstyle
hscope.out
result
tags
TAGS
